# Diretórios principais
BOOK2MD_INPUT_DIR=/caminho/para/diretorio/input
BOOK2MD_OUTPUT_MD=/caminho/para/diretorio/output/md
BOOK2MD_OUTPUT_LOGS=/caminho/para/diretorio/output/logs

# Configurações de conversão
BOOK2MD_RETRY_ATTEMPTS=2
BOOK2MD_WATCH_MODE=false